In [ ]:
import json
import pymysql

# ✅ DB 연결
conn = pymysql.connect(
    host="project-db-cgi.smhrd.com",
    port= 3307,
    user="MPD",
    password="15987",
    database="MPD",
    charset="utf8mb4"
)
cursor = conn.cursor()

# ✅ JSON 파일 불러오기
with open("./2021년 2회.json", "r", encoding="utf-8") as f:
    keyword_data = json.load(f)

# ✅ keyword_list 업데이트 (quiz_id 1~99)
for item in keyword_data:
    quiz_id = item["문제 번호"]+297
    if quiz_id > 393:
        continue  # 393번 이상은 건너뛰기

    keyword_list = item["TF-IDF 키워드"]
    keyword_json = json.dumps(keyword_list, ensure_ascii=False)  # 문자열화

    sql = """
        UPDATE tb_quiz
        SET keyword_list = %s
        WHERE quiz_id = %s
    """
    cursor.execute(sql, (keyword_json, quiz_id))

# ✅ 반영 및 종료
conn.commit()
cursor.close()
conn.close()

print("✅ MySQL: quiz_id 298-393번까지 keyword_list 업데이트 완료!")